<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 borderbottom">
    <h1 class="h2">Orders</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>OrderId</th>
        <th>Purchase Date</th>
        <th>Delivery Date</th>
        <th>Delivery Time</th>
        <th>Total Price</th>
        <th>Payment Method</th>
        <th>Order Status</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let o of orderService.orderList;">
        <td><a (click)="openDialogDetail(o)">{{o.OrderId}}</a></td>
        <td>{{o.PurchaseDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{o.DeliveryDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{o.DeliveryTime }}</td>
        <td>{{o.TotalPrice}}</td>
        <td>{{o.PaymentMethod}}</td>
        <td>{{o.OrderStatus}}</td>
        <!-- <td>
          <button type="button" class="btn btn-sm btn-outline-info actionButton " (click)="openDialogEdit(a)">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-danger actionButton" (click)="onDelete(a.CategoryId)">Delete</button>
        </td> -->
      </tr>
      
  </tbody>
  </table>
</main>

