<div class="bg">
  <div class="container-fluid loginfont">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            
            <form class="form-container" action="Login" method="POST">
                <h1 class="loginh1">Login</h1>
                <div class="textbox">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="text" class="form-control" placeholder="  Enter email" name="username">
                </div>
                <div class="textbox">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" placeholder=" Enter password" name="password">
                </div> 
                <div class="textbox">
                  <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>                    
                <div style="text-align: center">
                    <span >Need an Account? <a style="color: white" href="register.jsp">Register</a></span>
                </div>
                
              </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
  </div>
  </div>
  