<div class="bg">
  <div class="container-fluid loginfont">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value, Password.value)">
                <h1 class="loginh1">Login</h1>
                <div class="textbox">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="text" class="form-control" placeholder="  Enter email" name="UserName" #UserName ngModel>
                </div>
                <div class="textbox">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" placeholder=" Enter password" name="Password" #Password ngModel>
                </div> 
                <div class="textbox">
                  <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
                
              </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
  </div>
  </div>
  