<button type="button" class="close" aria-label="Close" [mat-dialog-close]="true">
    <span aria-hidden="false">&times;</span>
  </button>
<div class="borderbottom">
    
    <h1 class="h2">Add Product</h1>
    
  </div>
    <!-- <mat-dialog-content> -->
        <form class="" action="" method="">
            <div class="form-group">
              <label>Username</label>
              <input type="value" class="form-control" placeholder="Enter Username" name="editusername" cdkFocusInitial >
            </div>
            <div class="form-group">
              <label>Gender</label>
              <input type="value" class="form-control" placeholder="Enter Gender" name="editgender">
            </div> 
            <div class="form-group">
              <label>Phone</label>
              <input type="value" class="form-control" placeholder="Enter Phone Number" name="editphone">
            </div>
            <div class="form-group">
              <label>IC</label>
              <input type="value" class="form-control" placeholder="Enter IC" name="editic">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="value" class="form-control" placeholder="Enter Addresss" name="editaddress">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Enter Addresss" name="editpassword">
            </div> 
            <!-- <mat-dialog-actions></mat-dialog-actions> -->
            <button type="submit" class="btn btn-block">Submit</button>
          </form>
        
    <!-- </mat-dialog-content> -->
    
  
  
  