<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 borderbottom">
      <h1 class="h2">Products</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
    <div class="">        
      <div class="buttonrow">
          <button type="button" class="btn btn-sm btn-outline-secondary " (click)="openDialog()">Add New Product</button>
      </div>
      <div class="">
          <form class="form-inline my-2 my-lg-0 searchbox " action="" method="">
            <div class="buttonrow">
              <input class="form-control form-control-sm" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-sm btn-outline-secondary " >Search</button>
            </div>
          </form>
          
      </div>
  </div>
  <table class="table table-striped table-sm">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Product Name</th>
          <th>Retailer Price</th>
          <th>Sales Price</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Status</th>
          <th>Unit Type</th>
          <th>Action</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of productService.list | productFilter: searchTerm">
          <td><a (click)="openDialogDetail(pd)">{{pd.ProductName}}</a></td>
          <td>{{pd.RetailerPrice | number:'1.2-2'}}</td>
          <td>{{pd.SalesPrice | number:'1.2-2'}}</td>
          <td>{{pd.Quantity}}</td>
          <td>{{pd.Category}}</td>
          <td>{{pd.ProductBrand}}</td>
          <td>{{pd.ProductStatus}}</td>
          <td>{{pd.ProductUnitType}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-info actionButton " (click)="openDialogEdit(pd)">Edit</button>
            <button type="button" class="btn btn-sm btn-outline-danger actionButton" (click)="onDelete(pd.ProductId)">Delete</button>
          </td>
        </tr>
        
    </tbody>
    </table>
  </main>
  
  
  
