
<nav *ngIf="navigation.visible" class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">PasarBuah 88</a>

  <ul class="navbar-nav px-3">
  </ul>
</nav>

<div class="container-fluid" style="margin-top:40px">
  <div class="row">
    <nav *ngIf="navigation.visible" class="col-md-2 d-none d-md-block bg-light sidebar" style="position:fixed ;height: 100vh;" >
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/dashboard">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/analytics">
              <span data-feather="home"></span>
              Analytics Report <span class="sr-only"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/announcement">
              <span data-feather="file"></span>
              Announcement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product">
              <span data-feather="file"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/category">
              <span data-feather="file"></span>
              Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order">
              <span data-feather="shopping-cart"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/manageStaff">
              <span data-feather="bar-chart-2"></span>
              Manage Staff
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""(click)="signout()">
              <span data-feather="layers"></span>
              Sign Out
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>