<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 borderbottom">
    <h1 class="h2">Analytics Report</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <!-- Users vs Time Frame -->
  <iframe width="327.5" height="202.50689166666663" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=990697621&amp;format=interactive"></iframe>
  <!-- Avg session duration vs Time Frame -->
  <iframe width="327.5" height="202.5068916666666" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=1865850061&amp;format=interactive"></iframe>
  <!-- Bounce Rate vs Time Frame -->
  <iframe width="327.5" height="202.50689166666666" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=1839267690&amp;format=interactive"></iframe>
  
   <!-- Visitor Type -->
   <iframe width="327.5000000000001" height="202.50689166666672" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=1808298131&amp;format=interactive"></iframe>
   <!-- Session vs Time Frame -->
   <iframe width="327.50000000000006" height="202.50689166666663" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=312898021&amp;format=interactive"></iframe> 
   <!-- Device Category -->
   <iframe width="327" height="202" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=344584401&amp;format=interactive"></iframe>

  
  <!-- monthly session report -->
  <iframe width="1200" height="500" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=1363623841&amp;format=interactive"></iframe>

  <iframe width="100%" height="450" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=2127222766&amp;format=interactive"></iframe>

  <!-- Visitor Type -->
  <iframe width="327.5000000000001" height="202.50689166666672" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=1808298131&amp;format=interactive"></iframe>
  <!-- Session vs Time Frame -->
  <iframe width="327.50000000000006" height="202.50689166666663" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=312898021&amp;format=interactive"></iframe> 
  <!-- Device Category -->
  <iframe width="327" height="202" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRQs_FWfBxJhdSBpvFoYJBX5VwwgOJ1rp31ZnCqZupmuLYswYT1sgP6CJ1usW6-JvQyoySB-uf65Zkj/pubchart?oid=344584401&amp;format=interactive"></iframe>


  
  
</main>
