/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.table-striped tbody tr:nth-of-type(odd) {
    /* background-color: rgba(0,0,0,.05); */
    background-color: #e0f0c1;
}

.table td, .table th {
    border-top: 1px solid #e0f0c1;
}

.searchbox input[type=text]:focus:not([readonly]) {
    border: 1px solid #6c757d;
    box-shadow: 0 0 0 1px #899097;
}

.borderbottom {
    border-bottom: 1px solid #ABCC67;
    border-width: medium;
    margin-bottom: 10px;
}

.buttonrow {
    float: right;
    margin-bottom: 10px;
}

//button
.mybutton {
    background-color: #8cba2d;
    border-color: #8cba2d;
}

.textbox {
    margin-top: 8px;
    width: 100%;
}

.actionButton {
    margin-left: 10px;
}

